*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: rgb(8, 56, 56);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.input-container{
    width: 100%;
    max-width: 500%;
    text-align: center;
    padding: 20px;
}

.input-container input{
    border: none;
    outline: none;
    padding: 12px;
    margin-block: 12px;
    border-radius: 4px;
    font-size: 16px;
}

.input-container input[type="text"]{
    width: 70;
}

.input-container input[type="button"]{
    background-color: aquamarine;
    color: black;
    font-weight: 700;
    margin-left: 8px;
    cursor: pointer;
    padding: 12px 20px;
}

.input-container input[type="button"]:hover{
    background-color: rgb(127, 177, 161);
}

ul{
    width: 100%;
    max-width: 500%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

ul li{
    list-style-type: none;
    cursor: pointer;
    margin-block-end: 12px;
    border-radius:8px;
    border: 1px solid white;
    padding: 6px 12px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.5s;
}

ul li:hover{
    background-color: antiquewhite;
}

ul li p{
    flex-grow: 1;
    padding: 3px;
}

.btn{
    border: none;
    outline: none;
    font-size: 15px;
    background: none;
    font-weight: 600;
    cursor: pointer;
    padding:8px ;
}

.deleteBtn{
    color: rgb(238, 45, 45);
}

.editBtn{
    color: rgb(10, 128, 10);
}